.todoList{
    display: flex;
    flex-direction: column;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    margin: 30px auto;
    width:300px;
    height:100px;
}
.todoItem{
    border:1px solid red;
}
.todoList span{
    color:#fff;
    font-size: 20px;
    font-weight:700;
    font-family: Arial, Helvetica, sans-serif;
}
.completed{
    text-decoration: line-through;
}